# Node modules (install in Docker)
node_modules
.pnpm-store
.pnpm-debug.log
npm-debug.log

# Local data & config
data/
nodes.json
.env

# OS or IDE files
.DS_Store
*.log
.idea/
.vscode/

# Git
.git
.gitignore
